[submodule "rlhfblender-ui"]
	path = rlhfblender-ui
	url = https://github.com/ymetz/rlhfblender-ui
[submodule "rlhfblender_model"]
	path = rlhfblender_model
	url = https://github.com/ymetz/rlhfblender_model
