version: '3.7'

volumes:
    node-modules:

services:
  frontend:
    container_name: rlhfblender-ui
    image: rlhfblender-ui:latest
    build:
      context: ./rlhfblender-ui/
      dockerfile: ./Dockerfile
    ports:
      - "3000:3000"
    environment:
      - BACKEND_HOST="localhost"
      - BACKEND_PORT="8080"
    volumes:
      - ./rlhfblender-ui/app/:/usr/src/app/
      - node-modules:/usr/src/app/node_modules/
    working_dir: /usr/src/app/

  backend:
    container_name: rlhfblender-backend
    image: rlhfblender-backend:latest
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./rlhfblender/:/usr/src/
    working_dir: /usr/src/
    command: ["python", "app/app.py", "--port", "8080", "--dev"]
