fastapi
databases[sqlite]
uvicorn
numpy
scipy
swig
gymnasium[atari,accept-rom-license,mujoco]
minigrid
autorom[accept-rom-license]
stable-baselines3
sb3-contrib
imitation
matplotlib
scikit-image
scikit-learn
seaborn
UltraDict
torchvision
tensorboard
opencv-python-headless
torch
optuna